.container {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    height: 100%;
    position: relative;
}
.topbar{
    background-color: rgb(255, 255, 255);
}
.topbar__popup{
    background-color: rgb(224, 216, 189);
}
.topbar__box>li>a{
    color: #333;
    font-weight: 600;
}
.topbar__box>li>a::before{
	background-color: #333;
}

.search-bar{
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 90;
    transition: all 0.7s;
    margin-top: 80px;
    background-color: rgb(51, 51, 51);
    box-sizing: border-box;
}
.btn-group{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 60px;
}
.btn-group:first-child{
    margin-left: 20%;
}
.btn-group li{
    display: inline-block;
    margin-top: 20px;
    width: 8%;
    text-align: center;
}
.li{
    border-right: 2px solid #fff;
}
.search-bar_btn{
    display: block;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
}
.search-bar_btn:hover{
    font-weight: 600;
}
.search-bar input{
    height: 30px;
    width: 30%;
    border: none;
    font-size: 20px;
    margin-left: 1%;
}
.search-bar input:focus{
    border: none;
    outline: 4px solid #256510;
}
.btn-group label{
    margin: 10px 0;
    margin-left: 1%;
}
label a{
    font-size: 20px;
    color: #fff;
    background-color: #1d560c;
    padding: 5px 20px;
    text-decoration: none;
}
label a:hover{
    background-color: #256510;
}

/* function-btn */
.function-btn1{
    position: fixed;
    display: inline-block;
    top: 160px;
    left: 20px;
    z-index: 100;
}
.function-btn1:hover i{
    padding-left: 40px;
}
.function-btn1 i{
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    padding: 15px;
    background-color: #1d560c;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.function-btn2{
    position: fixed;
    display: inline-block;
    top: 220px;
    left: 20px;
    z-index: 100;
}
.function-btn2:hover i{
    padding-left: 40px;
}
.function-btn2 i{
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    padding: 15px;
    background-color: #554013;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.function-btn3{
    position: fixed;
    display: inline-block;
    top: 160px;
    right: 20px;
    z-index: 100;
}
.function-btn3:hover i{
    padding-right: 40px;
}
.function-btn3 i{
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    padding: 15px;
    background-color: #1d560c;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.function-btn4{
    position: fixed;
    display: inline-block;
    top: 220px;
    right: 20px;
    z-index: 100;
}
.function-btn4:hover i{
    padding-right: 40px;
}
.function-btn4 i{
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    padding: 15px;
    background-color: #554013;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

/* sidebar */
.leftbar1{
    position: fixed;
    top: 140px;
    left: -50%;
    width: 20%;
    height: calc(100% - 140px);
    background-color: #133808;
    z-index:110;
    transition: all 0.7s;
}
.leftbar1 ul{
    width: 100%;
    height: 100%;
}
.sidebar-title{
    margin: 0 auto;
    margin-top: 10px;
    width: 50%;
    height: 50px;
    text-align: center;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
    background-color: #fff;
}
.leftbar1 i{
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    cursor: pointer;
}
.leftbar1 ul li{
    margin: 0 auto;
    width: 50%;
    height: 40px;
    border-bottom: 2px solid #fff;
}
.leftbar1 ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    transition: all 0.5s;
    padding-left: 0px;
}
.leftbar1 ul li a:hover{
    padding-left: 20px;
}

.leftbar2{
    position: fixed;
    top: 140px;
    left: -50%;
    width: 20%;
    height: calc(100% - 140px);
    background-color: #382a0c;
    z-index:110;
    transition: all 0.7s;
}
.leftbar2 ul{
    width: 100%;
    height: 100%;
}
.leftbar2 i{
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    cursor: pointer;
}
.leftbar2 ul li{
    margin: 0 auto;
    width: 50%;
    height: 40px;
    border-bottom: 2px solid #fff;
}
.leftbar2 ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    transition: all 0.5s;
    padding-left: 0px;
}
.leftbar2 ul li a:hover{
    padding-left: 20px;
}

.rightbar1{
    position: fixed;
    top: 140px;
    right: -50%;
    width: 20%;
    height: calc(100% - 140px);
    background-color: #133808;
    z-index:110;
    transition: all 0.7s;
}
.rightbar1 ul{
    width: 100%;
    height: 100%;
}
.rightbar1 i{
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
    cursor: pointer;
}
.rightbar1 ul li{
    margin: 0 auto;
    width: 50%;
    height: 40px;
    border-bottom: 2px solid #fff;
}
.rightbar1 ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    transition: all 0.5s;
    padding-left: 0px;
}
.rightbar1 ul li a:hover{
    padding-right: 20px;
}

.rightbar2{
    position: fixed;
    top: 140px;
    right: -50%;
    width: 20%;
    height: calc(100% - 140px);
    background-color: #382a0c;
    z-index:110;
    transition: all 0.7s;
}
.rightbar2 ul{
    width: 100%;
    height: 100%;
}
.rightbar2 i{
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
    cursor: pointer;
}
.rightbar2 ul li{
    margin: 0 auto;
    width: 50%;
    height: 40px;
    border-bottom: 2px solid #fff;
}
.rightbar2 ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    transition: all 0.5s;
    padding-left: 0px;
}
.rightbar2 ul li a:hover{
    padding-right: 20px;
}

/* bigtitle */
.bigtitle{
    padding-top: 140px;
    width: 100%;
    background-color: #fff;
    /* overflow: hidden; */
}
.onsale{
    width: 100%;
    height: 0;
    padding: 0;
    padding-bottom: 30%;
}
.onsale img{
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}
.owl-nav{
    display: none;
}
.owl-dots{
	text-align: center;
    position: absolute;
    bottom: 40px;
	width: 100%;
	bottom: 24px;
}
.owl-dots .owl-dot{
	width: 12px;
	height: 12px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: top;
	margin: 0 4px;
	background-color: #ccc;
    border: none;
}
.owl-dots .active{
	background-color: #666;
}

/* main */
.main{
    display: flex;
    height: auto;
    width: 100%;
    padding-bottom: 40px;
    background: linear-gradient(45deg,#FFEFBA,#FFFFFF);
}
.whitebox{
    width: 8%;
    height: 100%;

}
.itembox{
    width: 92%;
    height: 100%;

}
.itemcard{
    float: left;
    position: relative;
    margin-right: 4%;
    margin-top: 30px;
    width: 20%;
    height: 250px;
    background-color: rgb(241, 241, 241);
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 2px 2px 4px #666;
    transition: all 0.5s;
}
.itemcard:hover{
    transform: scale(1.1);
}

.itemcard{
    display: block;
}
.itemcard img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 50%;
}
.item-textbox{
    position: absolute;
    top: 50%;
    width: 100%;
    height: 50%;
    background-color: #dfbe86;
    border-top: #dfbe86 4px solid;
}
.item-textbox p{
    text-decoration: none;
}
.item-name{
    width: 100%;
    padding: 4% 0;
    font-size: 14px;
    font-weight: 700;
    text-align: center;
    color: #333;
    background-color: #ce9635;
}
.info-textbox{
    width: 100%;
    height: 60%;
    background-color: #fff;
}
.seller{
    display: inline-block;
    margin: 2% 2%;
    padding: 2% 2%;
    font-size: 12px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    background-color: #333;
    border: 2px solid #333;
    border-radius: 4px;
}
.stars{
    display: inline-block;
}
.stars i{
    color: #333;
    font-size: 12px;
}
.number{
    margin-left: 2%;
    display: inline-block;
    color: #333;
    font-size: 12px;
    font-weight: 500;
}
.price{
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 6%;
    margin-left: 4%;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: #a04d27;
}
.check-btn{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 6%;
    margin-right: 6%;
    font-size: 12px;
    line-height: 12px;
    font-weight: 700;
    padding: 4%;
    color: #fff;
    text-decoration: none;
    background-color: #a04d27;
    transition: all 0.5s;
    border-radius: 8px;
    border: #fff 2px solid;
}
.check-btn:hover{
    background-color: #7e3d1e;
}
/* start main */