/* store-global */
.wrapper{
    box-sizing: border-box;
    position: relative;
    font-family: 'Noto Sans TC', sans-serif;
    
}
/* topbar */
.topbar{
    width: 100%;
    height: 80px;
    position: fixed;
    z-index: 100;
    transition: all 0.7s;
}
.topbar__box{
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}
.topbar--colored{
    background-color: rgba(0, 0, 0, 0.700);
}
.topbar__box li{
    float: none;
    display: inline-block;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}
.logobox{
    width: 77px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.logobox img{
    display: block;
    width: 100%;
}
.topbar__box>li:nth-child(1){
    float: left;
}
.topbar__box>li:nth-child(2){float: left;}
.topbar__box>li:nth-child(3){
    float: right;
}
.topbar__box>li:nth-child(4){float: right;}
.topbar__box>li>a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    padding: 26px 20px;
    width: 40px;
    position: relative;
}
.topbar__box>li>a::before{
    content: "";
	position: absolute;
	height: 4px;
	width: 0%;
	background-color: #fff;
	bottom: 0;
    left: 50%;
	transform: translateX(-50%);
	transition: all 0.5s;
}
.topbar__box>li>a:hover::before{
    width: 100%;
}

/* topbar__popup */
.topbar__popup__ul{
    padding-top: 40px;
    width: 80px;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
}
.topbar__l1:hover .topbar__popup__ul1{
    opacity: 1;
    visibility: visible;
}
.topbar__l2:hover .topbar__popup__ul2{
    opacity: 1;
    visibility: visible;
}
.topbar__l3:hover .topbar__popup__ul3{
    opacity: 1;
    visibility: visible;
}
.topbar__l4:hover .topbar__popup__ul4{
    opacity: 1;
    visibility: visible;
}
.topbar__popup__ul1{
    width: 96px;
}
.topbar__popup__ul li{
    width: 100%;
    margin: 0;
}
.topbar__popup__ul a{
    width: 100%;
    height: 30px;
    border-radius: 4px;
    line-height: 30px;
    display: block;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #666;
    transition: all 0.3s;
}
.topbar__popup__ul a:hover{
    color: #fff;
    background-color: rgba(102, 102, 102, 0.8);
}

.topbar__popup{
    position: fixed;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    width: 70%;
    height: 0px;
    background-color: rgba(255, 255, 255, 0.800);
    z-index: 99;
    border-radius: 8px;
    transition: all 0.5s;
}
.topbar__popup--colored{
    background-color: rgb(224, 216, 189);
}
.show1{
    height: 150px;
}
.topbar{
    background-color: rgb(255, 255, 255);
}
.topbar__popup{
    background-color: rgb(224, 216, 189);
}
.topbar__box>li>a{
    color: #333;
    font-weight: 600;
}
.topbar__box>li>a::before{
	background-color: #333;
}

.search-bar{
    width: 100%;
    height: 60px;
    position: fixed;
    z-index: 90;
    transition: all 0.7s;
    margin-top: 80px;
    background-color: rgb(51, 51, 51);
    box-sizing: border-box;
}
.btn-group{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 60px;
}
.btn-group:first-child{
    margin-left: 20%;
}
.btn-group li{
    display: inline-block;
    margin-top: 20px;
    width: 8%;
    text-align: center;
}
.li{
    border-right: 2px solid #fff;
}
.search-bar_btn{
    display: block;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #fff;
    transition: all 0.3s;
}
.search-bar_btn:hover{
    font-weight: 600;
}
.search-bar input{
    height: 30px;
    width: 30%;
    border: none;
    font-size: 20px;
    margin-left: 1%;
}
.search-bar input:focus{
    border: none;
    outline: 4px solid #256510;
}
.btn-group label{
    margin: 10px 0;
    margin-left: 1%;
}
label a{
    font-size: 20px;
    color: #fff;
    background-color: #1d560c;
    padding: 5px 20px;
    text-decoration: none;
}
label a:hover{
    background-color: #256510;
}

/* function-btn */
.function-btn1{
    position: fixed;
    display: inline-block;
    top: 160px;
    left: 20px;
    z-index: 100;
}
.function-btn1:hover i{
    padding-left: 40px;
}
.function-btn1 i{
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    padding: 15px;
    background-color: #1d560c;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.function-btn2{
    position: fixed;
    display: inline-block;
    top: 220px;
    left: 20px;
    z-index: 100;
}
.function-btn2:hover i{
    padding-left: 40px;
}
.function-btn2 i{
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    padding: 15px;
    background-color: #554013;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.function-btn3{
    position: fixed;
    display: inline-block;
    top: 160px;
    right: 20px;
    z-index: 100;
}
.function-btn3:hover i{
    padding-right: 40px;
}
.function-btn3 i{
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    padding: 15px;
    background-color: #1d560c;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

.function-btn4{
    position: fixed;
    display: inline-block;
    top: 220px;
    right: 20px;
    z-index: 100;
}
.function-btn4:hover i{
    padding-right: 40px;
}
.function-btn4 i{
    color: #fff;
    font-size: 20px;
    font-weight: 900;
    padding: 15px;
    background-color: #554013;
    border-radius: 10px;
    transition: all 0.5s;
    cursor: pointer;
}

/* sidebar */
.leftbar1{
    position: fixed;
    top: 140px;
    left: -50%;
    width: 20%;
    height: calc(100% - 140px);
    background-color: #133808;
    z-index:110;
    transition: all 0.7s;
}
.leftbar1 ul{
    width: 100%;
    height: 100%;
}
.sidebar-title{
    margin: 0 auto;
    margin-top: 10px;
    width: 50%;
    height: 50px;
    text-align: center;
    color: #333;
    font-size: 20px;
    font-weight: 600;
    line-height: 50px;
    background-color: #fff;
}
.leftbar1 i{
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    cursor: pointer;
}
.leftbar1 ul li{
    margin: 0 auto;
    width: 50%;
    height: 40px;
    border-bottom: 2px solid #fff;
}
.leftbar1 ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    transition: all 0.5s;
    padding-left: 0px;
}
.leftbar1 ul li a:hover{
    padding-left: 20px;
}

.leftbar2{
    position: fixed;
    top: 140px;
    left: -50%;
    width: 20%;
    height: calc(100% - 140px);
    background-color: #382a0c;
    z-index:110;
    transition: all 0.7s;
}
.leftbar2 ul{
    width: 100%;
    height: 100%;
}
.leftbar2 i{
    position: absolute;
    right: 10px;
    top: 10px;
    color: #fff;
    cursor: pointer;
}
.leftbar2 ul li{
    margin: 0 auto;
    width: 50%;
    height: 40px;
    border-bottom: 2px solid #fff;
}
.leftbar2 ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    transition: all 0.5s;
    padding-left: 0px;
}
.leftbar2 ul li a:hover{
    padding-left: 20px;
}

.rightbar1{
    position: fixed;
    top: 140px;
    right: -50%;
    width: 20%;
    height: calc(100% - 140px);
    background-color: #133808;
    z-index:110;
    transition: all 0.7s;
}
.rightbar1 ul{
    width: 100%;
    height: 100%;
}
.rightbar1 i{
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
    cursor: pointer;
}
.rightbar1 ul li{
    margin: 0 auto;
    width: 50%;
    height: 40px;
    border-bottom: 2px solid #fff;
}
.rightbar1 ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    transition: all 0.5s;
    padding-left: 0px;
}
.rightbar1 ul li a:hover{
    padding-right: 20px;
}

.rightbar2{
    position: fixed;
    top: 140px;
    right: -50%;
    width: 20%;
    height: calc(100% - 140px);
    background-color: #382a0c;
    z-index:110;
    transition: all 0.7s;
}
.rightbar2 ul{
    width: 100%;
    height: 100%;
}
.rightbar2 i{
    position: absolute;
    left: 10px;
    top: 10px;
    color: #fff;
    cursor: pointer;
}
.rightbar2 ul li{
    margin: 0 auto;
    width: 50%;
    height: 40px;
    border-bottom: 2px solid #fff;
}
.rightbar2 ul li a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    line-height: 40px;
    text-align: center;
    transition: all 0.5s;
    padding-left: 0px;
}
.rightbar2 ul li a:hover{
    padding-right: 20px;
}

/* container */
.container {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    height: 100%;
    position: relative;
}

/* footer */
.footer{
    position: relative;
    width: 100%;
    height: 150px;
    background-color: rgba(0, 0, 0, 0.9);
    font-family: Arial, Helvetica, sans-serif;
}
.footer h6{
    position: absolute;
    top: 20px;
    left: 20%;
    width: 140px;
    height: 100px;
    display: inline-block;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-right: 2px solid #fff;
}
.footer-ul1{
    display: inline-block;
    position: absolute;
    top: 60px;
    left: 20%;
    width: 140px;
    height: 50px;
}
.footer-ul1 li{
    display: inline-block;
    margin-right: 10px;
}
.footer-ul1 i{
    color: #fff;
    font-size: 20px;
    transition: all 0.5s;
}
.footer-ul1 i:hover{
    transform: translateY(-10px);
}
.footer-ul2{
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 35%;
    width: 140px;
    height: 100px;
    border-right: 2px solid #fff;
}
.footer li{
    margin-bottom: 10px;
}
.footer a{
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    text-decoration: none;
}
.footer p{
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 50%;
    width: 450px;
    height: 100px;
    color: #fff;
    font-size: 10px;
    font-weight: 400;
}

