/* Global */
@import url(reset.css);

.wrapper{
    box-sizing: border-box;
    position: relative;
    font-family: 'Noto Sans TC', sans-serif;
    
}

.owl-nav{
    display: none;
}
.owl-dots{
    display: none;
}

.btn-primary{
    display: block;
    background-color: #18410a;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
    padding: 10px 40px;
    border-radius: 40px;
    /* border: 4px solid #fff; */
    box-shadow: 2px 2px 4px #333;
    transition: all 0.5s;
    overflow: hidden;
}
.btn-primary:before{
	content: "";
	position: absolute;
	top: -40%;
	left: -40%;
	background-color: rgba(256, 256, 256, 0.2);
	width: 0%;
	padding-top: 0%;
	border-radius: 50%;
	transition: all 0.5s;
}
.btn-primary:hover:before{
	width: 200%;
	padding-top: 200%;
}

/* main */

/* first title */
.first-title{
    grid-column: 1/13;
    height: 600px;
    overflow: hidden;
    opacity: 1;
}
.first-title__img{
    width: 100%;
    height: 600px;
    overflow: hidden;
    background-image: url('../img/pexels-cottonbro-4921291.jpg');
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}
@media (max-width:768px){
    .first-title__img{
        background-position: 40%;
    }
}
.first-title__img::before{
    content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: #191919;
	opacity: 0.3; 
}
.first-title__h2{
    position: absolute;
    top: 240px;
    left: 55%;
    font-family: 'Odor Mean Chey', serif;
    display: inline-block;
    font-size: 80px;
    line-height: 80px;
    color: #fff;
    text-shadow: 0.1em 0.1em 0.25em #000;
    transition: all 0.5s;
}
.first-title__h3{
    position: absolute;
    top: 320px;
    left: 55%;
    font-family: 'Odor Mean Chey', serif;
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    color: #fff;
    text-shadow: 0.1em 0.1em 0.2em #000;
    transition: all 0.5s;
}
.first-title__h4{
    position: absolute;
    top: 400px;
    left: 55%;
    font-family: 'Odor Mean Chey', serif;
    display: inline-block;
    font-size: 40px;
    line-height: 40px;
    color: #4dca23d2;
    text-shadow: 0.1em 0.1em 0.25em #000;
    transition: all 0.5s;
}
.title__hidden{
    opacity: 0;
}
@media (max-width:768px){
    .first-title__h2{
        font-size: 64px;
        top: 160px;
    }
    .first-title__h3{
        font-size: 56px;
        top: 240px;
    }
    .first-title__h4{
        font-size: 32px;
        top: 320px;
    }
}

/* second title */
.second-title{
    height: 110px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.500);
    position: absolute;
    top: 490px;
    word-break: break-all;
}
.second-title h2{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
    line-height: 110px;
    text-align: center;
    margin: 0 auto;
    
}
@media (max-width:768px){
    .second-title h2{
        font-size: 24px;      
    }
}
@media (max-width:414px){
    .second-title h2{
        font-size: 18px;      
    }
}
/* third-title */
.container1{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    position: relative;
    height: 600px;
}
.img-1{
    position: absolute;
    top: 120px;
    left: -20px;
    grid-column-start: 4;
    grid-column-end: 7;
    width: 100%;
    border-radius: 50% 0px 50% 0px;
}
.leaf-img1{
    position: absolute;
    top: 100px;
    grid-column-start: 8;
    grid-column-end: 9;
    width: 80%;
    z-index: 10;
    transform: rotate(40deg);
}
.leaf-img2{
    position: absolute;
    top: 200px;
    left: -30px;
    grid-column-start: 3;
    grid-column-end: 4;
    width: 200%;
    transform: rotate(-30deg);
}

.third-title__h2-1{
    position: absolute;
    top: 120px;
    grid-column-start: 7;
    grid-column-end: 8;
    font-size: 64px;
    font-weight: 800;
    color: #1c4a0dd2;
}
.third-title__p-1{
    position: absolute;
    top: 240px;
    grid-column-start: 7;
    grid-column-end: 10;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 600;
    color: #333;
    margin-bottom: 120px;
}
.tattoo1{
    position: absolute;
    top: 550px;
    grid-column-start: 8;
    grid-column-end: 10;
    width: 280px;
    height: 280px;
    border-radius: 20px;
    border: 16px solid rgba(125, 89, 24, 0.7);
    transform: translate(-15%,-10%);
}
@media (min-width:1500px){
    .container1{
        height: 700px;
    }
    .third-title__h2-1{
        font-size: 80px;
    }
    .third-title__p-1{
        top: 280px;
        font-size: 20px;
    }
    .leaf-img1{
        left: -20%;
        top: 80px;
        grid-column-start: 8;
        grid-column-end: 9;
        width: 60%;
    }
    .leaf-img2{
        top: 240px;
        width: 200%;
    }
    .third-title__p-1{
        grid-column-end: 11;
        margin-bottom: 100px;
    }
}
@media (max-width:1200px){
    .img-1{
        left: -40px;
    }
    .leaf-img1{
        grid-column-start: 8;
        grid-column-end: 10;
        width: 40%;
    }
    .leaf-img2{
        top: 240px;
        width: 200%;
    }
    .third-title__p-1{
        grid-column-end: 11;
        margin-bottom: 100px;
    }
}
@media (max-width:1000px){
    .img-1{
        position: absolute;
        top: 150px;
        left: 20px;
        grid-column-start: 3;
        grid-column-end: 6;
        width: 120%;
        border-radius: 50% 0px 50% 0px;
    }
    .leaf-img1{
        left: 10%;
    }
    .leaf-img2{
        top: 280px;
    }
}
@media (max-width:768px){
    .container1{
        height: 1000px;
        z-index: 30;
    }
    .img-1{
        left: 0px;
        grid-column-start: 4;
        grid-column-end: 10;
        width: 100%;
    }
    .leaf-img1{
        top: 75%;
        grid-column-start: 4;
        grid-column-end: 5;
        width: 80%;
    }
    .third-title__h2-1{
        top: 60%;
        grid-column-start: 4;
        grid-column-end: 5;
    }
    .third-title__p-1{
        position: absolute;
        top: 55%;
        grid-column-start: 6;
        grid-column-end: 10;
    }
}
@media (max-width:600px){
    .container1{
        height: 800px;
    }
    .img-1{
        top: 100px;
    }
    .leaf-img1{
        top: 70%;
        grid-column-start: 4;
        grid-column-end: 5;
        width: 80%;
    }
    .third-title__h2-1{
        top: 50%;
        grid-column-start: 4;
        grid-column-end: 5;
    }
    .third-title__p-1{
        position: absolute;
        top: 45%;
        grid-column-start: 6;
        grid-column-end: 11;
    }
}
@media (max-width:414px){
    .third-title__h2-1{
        top: 40%;
        grid-column-start: 4;
        grid-column-end: 12;
    }
    .third-title__p-1{
        position: absolute;
        top: 50%;
        grid-column-start: 3;
        grid-column-end: 11;
        font-size: 16px;
    }
    .leaf-img1{
        display: none;
    }
}
.container2{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background: linear-gradient(60deg,#ab7223ad,#1c4a0dd2);
    padding-bottom: 400px;
    position: relative;
}
.img-2{
    position: absolute;
    top: -40px;
    grid-column-start: 7;
    grid-column-end: 10;
    width: 100%;
    border-radius: 0 20px 20px 0;
    z-index: 20;
}
.decoratebox1{
    width: 100%;
    height: 320px;
    background-color: #fff;
    position: absolute;
    top: -30px;
    left: 50%;
    transform: translateX(-50%);
    grid-column-start: 4;
    grid-column-end: 10;
    border-radius: 20px;
}
.third-title__h2-2{
    position: absolute;
    grid-column-start: 4;
    grid-column-end: 7;
    left: 20px;
    font-size: 64px;
    line-height: 64px;
    font-weight: 800;
    color: #9b5411;
    z-index: 90;
}
.leaf-img3{
    grid-column-start: 8;
    grid-column-end: 12;
    width: 90%;
    position: absolute;
    left: 80px;
    top: 15%;
    transform: rotate(25deg);
    z-index: 30;
}
.leaf-img4{
    grid-column-start: 3;
    grid-column-end: 4;
    width: 100%;
    position: absolute;
    top: -15%;
    left: 10%;
    transform: rotate(-25deg);
    z-index: 30;
}
.third-title__p-2{
    position: absolute;
    width: 90%;
    top: 90px;
    left: 20px;
    grid-column-start: 4;
    grid-column-end: 7;
    color: #48350d;
    font-size: 20px;
    line-height: 1.3;
    font-weight: 700;
}
@media (min-width:1500px){
    .container2{
        height: 200px;
    }
    .decoratebox1{
        height: 400px;
    }
}
@media (max-width:1200px){
    .leaf-img3{
        grid-column-start: 8;
        grid-column-end: 12;
        width: 80%;
    }
    .third-title__h2-2{
        position: absolute;
        grid-column-start: 4;
        grid-column-end: 7;
        left: 20px;
        font-size: 56px;
        line-height: 56px;
        font-weight: 800;
        color: #9b5411;
        z-index: 90;
    }
    .third-title__p-2{
        position: absolute;
        width: 260px;
        top: 90px;
        left: 20px;
        grid-column-start: 4;
        grid-column-end: 5;
        color: #48350d;
        font-size: 16px;
        line-height: 1.3;
        font-weight: 700;
    }
}
@media (max-width:1000px){
    .img-2{
        left: 20px;
    }
    .leaf-img3{
        left: -5%;
        top: 120px;
    }
    .third-title__h2-2{
        left: 10px;
        font-size: 40px;
        line-height: 40px;
    }
    .third-title__p-2{
        width: 90%;
        top: 60px;
        left: 20px;
        grid-column-start: 4;
        grid-column-end: 7;
        color: #48350d;
        font-size: 16px;
        line-height: 1.3;
        font-weight: 700;
    }
}
@media (max-width:768px){
    .container2{
        height: 400px;
    }
    .img-2{
        position: absolute;
        top: -10%;
        left: 0;
        grid-column-start: 4;
        grid-column-end: 10;
        width: 100%;
        border-radius: 0 50% 0 50%;
        z-index: 20;
    }
    .decoratebox1{
        width: 100%;
        height: 0px;
        padding-top: 100%;
        background-color: #fff;
        position: absolute;
        top: -350px;
        left: 50%;
        transform: translateX(-50%);
        grid-column-start: 1;
        grid-column-end: 13;
        border-radius: 50%;
    }
    .third-title__h2-2{
        left: 50%;
        top: 400px;
        transform: translateX(-50%);
        color: #ffffff;
        z-index: 90;
        grid-column-start: 1;
        grid-column-end: 13;
        letter-spacing: 0.2em;
    }
    .leaf-img3{
        grid-column-start: 7;
        grid-column-end: 12;
    }
    .leaf-img4{
        grid-column-start: 6;
        grid-column-end: 8;
        width: 100%;
        position: absolute;
        top: 75%;
        left: 0;
        transform: rotate(-25deg);
        z-index: 30;
    }
    .third-title__p-2{
        position: absolute;
        width: 100%;
        top: 480px;
        grid-column-start: 3;
        grid-column-end: 9;
        color: #9b5411;
        font-size: 20px;
        line-height: 1.3;
        font-weight: 700;
        text-align: center;
        background-color: #fff;
        padding: 40px;
        border-radius: 40px;
    }
}
@media (max-width:414px){
    .second-title h2{
        font-size: 18px;      
    }
    .img-2{
        top: -5%;
        grid-column-start: 2;
        grid-column-end: 12;
        width: 100%;
    }
    .decoratebox1{
        display: none;
    }
    .third-title__h2-2{
        top: 300px;
        grid-column-start: 1;
        grid-column-end: 13;
        width: 100%;
        text-align: center;
        letter-spacing: 0.1em;
    }
    .leaf-img3{
        top: 200px;
        grid-column-start: 8;
        grid-column-end: 13;
    }
    .leaf-img4{
        grid-column-start: 4;
        grid-column-end: 10;
        width: 100%;
        position: absolute;
        top: 70%;
        left: 0;
        transform: rotate(-25deg);
        z-index: 30;
    }
    .third-title__p-2{
        position: absolute;
        width: 80%;
        top: 400px;
        grid-column-start: 2;
        grid-column-end: 12;
        left: 0;
        color: #9b5411;
        font-size: 20px;
        line-height: 1.3;
        font-weight: 700;
        text-align: center;
        background-color: #fff;
        padding: 20px;
        border-radius: 40px;
    }
}

/* four-title */
.container4{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #ffffff;
    height: 720px;
    position: relative;
}
.four-title__h2{
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    padding: 10px 30px;
    background-color: #48350d;
}
.decorateline{
    position: absolute;
    top: 125px;
    left: 50%;
    transform: translateX(-50%);
    width: 260px;
    height: 4px;
    background-color: #48350d;
}
.four-title{
    margin-top: 160px;
    display: flex;
    /* outline: 5px solid rgb(160, 35, 35); */
    grid-column-start: 3;
    grid-column-end: 11;
    height: 400px;
}
.four-title li{
    background-size: cover;
    background-position: center center;
    transition: .7s;
    border-radius: 60px;
    margin-left: 16px;
}
.four-title li:nth-child(1){
    margin-left: 0;
}
.kind1{
    background-image: url(../img/pexels-ellie-burgin-3362698\ \(1\).jpg);
    flex-grow: 1;
}

.kind2{
    background-image: url(../img/42e985825ddffedaddf3b2b461bd4269.jpg);
    flex-grow: 1;
}

.kind3{
    background-image: url(../img/wp6668862-beetles-wallpapers.jpg);
    flex-grow: 1;
}
.kind4{
    background-image: url(../img/pexels-fahad-alani-1677116.jpg);
    flex-grow: 1;
}

.four-title li:hover {
    flex-grow: 5;
}
.four-title a{
    display: block;
    height: 100%;
    width: 100%;
}
.btn1{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
}
/* share */
.container5{
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #ffffff;
    height: 720px;
    position: relative;
    margin-bottom: 80px;
}
.fivth-title{
    position: absolute;
    top: 200px;
    width: 100%;
}
.fivth-title__h2{
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-weight: 700;
    font-size: 40px;
    line-height: 60px;
    padding: 10px 30px;
    background-color: #48350d;
}
.decorateline2{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 125px;
    width: 300px;
    height: 4px;
    background-color: #48350d;
}
/* element card */
.card{
    display: inline-block;
    width: 300px;
    height: 400px;
    background-color: #ffffff;
    box-shadow: 4px 4px 6px #666;
    border: 4px solid #333;
    margin-right: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    overflow: hidden;
    transition: all 0.3s;
}
.card:hover{
    transform: scale(1.05);
}
.card-infobox{
    position: relative;
    display: inline-block;
    margin-top: 4px;
    width: 100%;
    height: 15%;
    background-color: #ccc;
}
.card a{
    display: block;
    width: 100%;
    height: 100%;
}
.card-ul{
    position: relative;
    width: 300px;
    height: 400px;
}
.card-img{
    width: 96%;
    height: 40%;
    padding-left: 2%;
    padding-top: 2%;
}
.card img{
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}
.card-title{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    background-color: #18410a;

    z-index: 10;
}
.purple{
    background-color: #520d57;
}
.blue{
    background-color: #183f7c;
}
.yellow{
    background-color: #92661e;
}
.card-member{
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid #18410a;
    z-index: 30;
}
.c-purple{
    border: 4px solid #520d57;
}
.c-blue{
    border: 4px solid #183f7c;
}
.c-yellow{
    border: 4px solid #92661e;
}
.card-text{
    /* position: absolute;
    bottom: 0%;
    left: 0%; */
    width: 100%;
    height: 45%;
    background-color: rgba(255, 255, 255, 0.8);
    overflow: hidden;
    /* padding: 10px; */
}
.card-text p{
    width: 90%;
    height: 130px;
    margin: 5%;
    line-height: 1.2;
    font-size: 16px;
    font-weight: 500;
    color: rgb(0, 0, 0);
    overflow: hidden;
}

.decoratewhitebox1{
    position: absolute;
    right: 0;
    top: 180px;
    height: 440px;
    width: 300px;
    grid-column-start: 10;
    grid-column-end: 13;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), rgb(255, 255, 255));
    z-index: 99;
}
.decoratewhitebox2{
    position: absolute;
    left: 0;
    top: 180px;
    height: 440px;
    width: 300px;
    grid-column-start: 1;
    grid-column-end: 4;
    background: linear-gradient(to left, rgba(255, 255, 255, 0), rgb(255, 255, 255));
    z-index: 99;
}
.btn2{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}
@media (max-width:768px){
    .decoratewhitebox1{
        width: 200px;
    }
    .decoratewhitebox2{
        width: 200px;
    }
}
@media (max-width:414px){
    .decoratewhitebox1{
        width: 80px;
    }
    .decoratewhitebox2{
        width: 100px;
    }
}

/* contact */
.contact{
    position: relative;
    width: 100%;
    height: 440px;
    background-color: #102d06;
    overflow: hidden;
}
.contact ul{
    width: 50%;
    height: 800px;
    margin-left: 18%;
    padding-top: 24px;
    padding-left: 40px;
    background-color: #102d06;
}
.contact label{
    color: #fff;
    font-size: 18px;
    line-height: 18px;
    font-weight: 600;
}
.contact input:focus{
    outline: 4px solid #42ab1f;
    border-radius: 4px;
    border: none;
}
.contact input{
    display: block;
    margin-top: 10px;
    margin-bottom: 15px;
    width: 50%;
    height: 20px;
    padding-left: 12px;
    border: none;
}
.contact textarea{
    display: block;
    width: 50%;
    height: 80px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 8px;
    border: none;
    resize: none;
    border-radius: 4px;
    border: none;
}
.send-btn{
    display: inline-block;
    padding: 10px 20px;
    background-color: #48350d;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 4px;
    transition: all 0.3s;
}
.send-btn:hover{
    font-weight: 600;
    background-color: #3c2d0b;
}
.contact textarea:focus{
    outline: 4px solid #42ab1f;
    border-radius: 4px;
}
.contact-imgbox{
    top: 0;
    right: 0;
    position: absolute;
    width: 50%;
    height: 440px;
    background-image: url(../img/pexels-matheus-bertelli-573293.jpg);
    background-position: center;
    background-size: cover;
    overflow: hidden;
}
.decoratebox4{
    position: absolute;
    top: -50px;
    left: -200px;
    background-color: #102d06;
    width: 300px;
    height: 600px;
    transform: rotate(15deg);
}
@media (max-width:768px){
    .contact{
        height: 740px;
    }
    .contact ul{
        width: 100%;
        height: 800px;
        margin-left: 14%;
        padding-top: 24px;
        padding-left: 40px;
        background-color: #102d06;
    }
    .contact-imgbox{
        top: 440px;
        width: 100%;
        height: 300px;
    }
    .contact input{
        width: 60%;
    }
    .contact textarea{
        width: 60%;
    }
    .decoratebox4{
        display: none;
    }
}
@media (max-width:414px){
    .contact ul{
        box-sizing: border-box;
        width: 80%;
        height: 800px;
        margin-left: 14%;
        padding-top: 24px;
        padding-left: 40px;
        background-color: #102d06;
    }
    .contact-imgbox{
        top: 440px;
        width: 100%;
        height: 300px;
    }
    .contact input{
        width: 80%;
    }
    .contact textarea{
        width: 80%;
    }
    .decoratebox4{
        display: none;
    }
}

@media (max-width:600px){
    .four-title__h2{
        font-size: 28px;
        width: 60%;
        text-align: center;
    }
    .fivth-title__h2{
        font-size: 28px;
        width: 60%;
        text-align: center;
    }
    .decorateline{
        display: none;
    }
    .decorateline2{
        display: none;
    }
}